@import "global";

.bio-container {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    .author-image {
        max-width: 25%;
        border-radius: 3%;
    }
}

@media only screen and (min-width: $layoutBreakoutMedium) {
    .bio-container {
        flex-direction: row;
        margin: auto;
        width: 60%;
        gap: 3rem;
        padding: 3rem 0rem;
    }
}
