@import "global";

.footer {
  display: flex;
  flex-direction: column;

  background-color: $backgroundColor;
  padding: 0.5rem;

  p {
    text-align: center;
    color: $fontColor;
  }

  a {
    color: $fontColor;
  }

  h3 {
    text-align: center;
    margin-bottom: 0rem;
  }
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .social-links {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }

  p {
    padding: 0rem;
  }
}

.newsletter-container {
  padding: 1rem 1.5rem;
}

.vault-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  img {
    border-radius: 3%;
    width: 10rem;
  }

  p {
    margin: 0.2rem;
  }
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;

  p {
    margin: 0.5rem;
  }
}

@media only screen and (min-width: $layoutBreakoutMedium) {
  .footer {
    justify-content: center;
    margin: auto;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border-bottom: #793438c7 solid 5px;
  }

  .social-container {
    margin: 1rem;
  }

  .newsletter-container {
    margin-left: 2.5rem;
  }
}
