@import "global";

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 3rem auto;
  width: 80%;

  h1 {
    color: black;
    margin: 0rem;
  }

  p {
    color: black;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;

  .text-fields {
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: $layoutBreakoutSmall) {
  .contact-form {
    width: 400px;
  }
}
