@import "global";

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $fontColor;
  list-style-type: none;
  text-decoration: none;
  

  a {
    text-decoration: none;
    color: $fontColor;
  }
}

.desktop-nav {
  display: none;
}

@media only screen and (min-width: $layoutBreakoutSmall) {
  .desktop-nav {
    display: block;
    padding: 0.1rem 15rem;
    background-color: $CrackedCoffins;
  }

  ul {
    padding-inline-start: 0;
  }

  .nav-links {
    flex-direction: row;

    // https://www.30secondsofcode.org/css/s/hover-underline-animation/
    li {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 18px;
    }

    li::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    li:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  
  

  .mobile-nav {
    display: none;
  }
}
