@import "global";

.mobile-nav {
  display: block;
  width: 100%;
  /* position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: black; /* TODO Overlay nav */

}

.hamburger-react {
  /* z-index: 999; */
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $fontColor;
  list-style-type: none;
  text-decoration: none;
  

  a {
    text-decoration: none;
    color: $fontColor;
  }
}

.desktop-nav {
  display: none;
}

@media only screen and (min-width: $layoutBreakoutSmall) {
  .desktop-nav {
    display: block;
  }

  .nav-links {
    flex-direction: row;
  }

  .mobile-nav {
    display: none;
  }
}
